nextflow.enable.moduleBinaries = true

// Global default params, used in configs
params {
  help     = false
  datasets = null
  mapper   = null
  wl_basedir = "${projectDir}/data/whitelists/"
}

// Docker
docker {
  enabled = true
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'local'
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'cellgeni/nf-reprocessing-public-10x'
    author          = "CellgenI Team"
    homePage        = 'https://github.com/cellgeni/nf-reprocessing-public-10x'
    description     = "Pipeline to load and process public 10x datasets"
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '23-263'
}
