// Nextflow flags
nextflow.enable.configProcessNamesValidation = false
nextflow.enable.moduleBinaries = true

// Unscoped options
cleanup   = false
workDir   = "nf-work"
outputDir = params.outdir

// Global default params, used in configs
params {
    // pipeline parameters
    help            = false
    datasets        = null
    no_infer_specie = false
    default_specie  = null
    wl_basedir      = "/nfs/cellgeni/STAR/whitelists"
    human_reference = "/nfs/cellgeni/STAR/human/2020A/index"
    mouse_reference = "/nfs/cellgeni/STAR/mouse/2020A/index"
    metaonly        = false

    // output parameters
    publish_mode        = 'link'
    outdir              = "results"
    monochrome_logs     = false
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}
// Singularity environment parameters
singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = '/nfs/cellgeni/singularity/images/'
    runOptions  = '-B /lustre,/nfs'
    pullTimeout = '100m'
}

// Configure process parameters
process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) || task.attempt == 1 ? 'retry' : 'finish' }
    maxRetries    = 3
}

workflow {
    output {
        mode = 'link'
    }
}

// Capturing Nextflow log files into a 'reports' directory
timeline {
    enabled = true
    file    = "reports/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "reports/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "reports/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "reports/pipeline_dag_${params.trace_report_suffix}.html"
}
lineage {
    enabled = true
}

// Load module configurations
includeConfig 'configs/reprocess10x_sra2fastq.config'
includeConfig 'configs/reprocess10x_bam2fastq.config'
includeConfig 'configs/reprocess10x_loaddata.config'
includeConfig 'configs/reprocess10x_starsolo.config'
includeConfig 'configs/reprocess10x_mappingqc.config'
includeConfig 'configs/fetch10xmeta.config'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'cellgeni/nf-reprocessing-public-10x'
    author          = "CellgenI Team"
    homePage        = 'https://github.com/cellgeni/nf-reprocessing-public-10x'
    description     = "Pipeline to load and process public 10x datasets"
    mainScript      = 'main.nf'
    nextflowVersion = '!>=26.04.1'
    version         = '26-135'
    license         = 'GPL-3.0'
}

outputDir = params.outdir