process {
    withName: '.*REPROCESS10X_LOADDATA' {
        ext.args = "--retry-connrefused --read-timeout=20 --timeout=15 --tries=0"
        queue = 'transfer'
        memory = '4 GB'
        cpus = 1
        publishDir = [
            path: { "${params.output_dir}/raw/${meta.dataset_id}/" },
            mode: params.publish_mode,
            saveAs: { filepath -> getFileName(filepath, meta.sample_id) }
        ]
    }
}