process {
    withName: '.*REPROCESS10X_LOADDATA' {
        ext.args = "--retry-connrefused --read-timeout=20 --timeout=15 --tries=0"
        queue = 'transfer'
        memory = '4 GB'
        cpus = 1
        array = 50
        publishDir = [
            path: { "${params.output_dir}/raw/${meta.dataset_id}/${meta.sample_id}" },
            mode: params.publish_mode,
            pattern: "*.fastq.gz"
        ]
    }
}