process {
    withName: '.*REPROCESS10X_BAM2FASTQ' {
        queue = 'normal'
        cpus = 16
        memory     = { 4.GB + 4.GB * (task.attempt - 1) }
        publishDir = [
            path: { "${params.output_dir}/raw/${meta.dataset_id}/fastq/${meta.sample_id}" },
            mode: params.publish_mode,
            pattern: '*.fastq.gz'
        ]
    }
}