process {
    withName: '.*REPROCESS10X_STARSOLO.*' {
        queue = 'long'
        cpus = 16
        memory = '128 GB'
        publishDir = [
            path: { "${params.output_dir}/starsolo/${meta.dataset_id}/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename  }  // Do not publish versions.yml
        ]
    }
}