process {
    withName: '.*FETCH10XMETA' {
        queue      = 'transfer'
        maxForks   = 10
        array      = 1000
        cpus       = 1
        memory     = { 4.GB + 2.GB * (task.attempt - 1) }
        // publishDir = [
        //     path  : { "${params.outdir}/metadata/${meta.id}" },
        //     mode  : params.publish_mode,
        //     saveAs: { filename -> filename == 'versions.yml' ? null : filename  }  // Do not publish versions.yml
        // ]
    }
}