process {
    withName: '.*REPROCESS10X_SRA2FASTQ' {
        queue = 'long'
        cpus = 16
        memory     = { 128.GB + 32.GB * (task.attempt - 1) }
        // publishDir = [
        //     path: { "${params.outdir}/raw/${meta.dataset_id}/fastq/${meta.sample_id}" },
        //     mode: params.publish_mode,
        //     pattern: "*.fastq.gz"
        // ]
    }
}