process {
    withName: '.*REPROCESS10X_PARSEMETADATA' {
        queue      = 'transfer'
        maxForks   = 40
        array      = 100
        cpus       = 1
        memory     = { 4.GB + 2.GB * (task.attempt - 1) }
        publishDir = [
            path  : { "${params.output_dir}/metadata/${meta.id}" },
            mode  : params.publish_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename  }  // Do not publish versions.yml
        ]
    }
}