process {
    withName: '.*WGET10X' {
        ext.args   = "--retry-connrefused --read-timeout=60 --timeout=60 --tries=0"
        array      = 20
        maxForks   = 20
        queue      = 'transfer'
        memory     = { 4.GB + 4.GB * (task.attempt - 1) }
        cpus       = 1
        errorStrategy = { task.attempt == 5 ? 'ignore' : 'retry' }
        maxRetries    = 5
        // publishDir = [
        //     path: { "${params.outdir}/raw/${meta.dataset_id}/" },
        //     mode: params.publish_mode,
        //     saveAs: { filepath ->
        //         if ( filepath ==~ /.*fastq\.gz/ ) {
        //             return "fastq/${meta.sample_id}/$filepath"
        //         } else if ( filepath ==~ /.*\.bam/ ) {
        //             return "bam/${meta.sample_id}/$filepath"
        //         } else if ( filepath != "versions.yml" ) {
        //             return "sra/${meta.sample_id}/$filepath"
        //         } else {
        //             return null
        //         }
        //     }
        // ]
    }
}