process {
    withName: '.*REPROCESS10X_PARSEMETADATA' {
        queue = 'transfer'
        cpus = 1
        memory = '4 GB'
        publishDir = [
            path: { "${params.output_dir}/metadata/${meta.id}" },
            mode: 'link',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename  }  // Do not publish versions.yml
        ]
    }
}