process {
    withName: '.*REPROCESS10X_MAPPINGQC' {
        queue          = 'normal'
        cpus           = 1
        memory     = { 2.GB + 4.GB * (task.attempt - 1) }
        clusterOptions = '-sp 51'
        publishDir     = [
            path: { "${params.output_dir}/starsolo/${meta.id}" },
            mode: params.publish_mode,
            pattern: "*.tsv"
        ]
    }
}